
  <div class="my-container">
    <div class="my-content">

      <%- include('../../components/todaysDate'); %>

      <div class="heading">
        Developers
      </div>

        <div class="project-container">


          <!-- BEGIN table for project employees -->
          <table class="ui selectable sortable table">
            <thead>
              <tr>
                <th>Developer</th>
                <th>Total Work Hours</th>
                <th>Total Overtime Hours</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% if(developers) { %>
                  <%  developers.forEach( developer => { %>
                    <tr>
                      <td><%= developer.fullName%></td>
                      <td><%= developer.totalWorkHours%></td>
                      <td><%= developer.totalOvertimeHours%></td>
                      <td><a href="/developers/edit/<%= developer.id%>"><img src="/images/icons/icon-edit-grey.png" alt=""></a></td>
                    </tr>
                  <%  }) %>
              <% } %>
            </tbody>
          </table>
          <!-- END table for project emploeeys -->
        </div>
        <!-- END of project container -->

      <!-- end of content -->
    </div>

  </div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
