
  <div class="my-container">
    <div class="my-content">
      <%- include('../../components/todaysDate'); %>

      <div class="heading">
        <%= project.name %> -- project id# <%= project.id %>
      </div>

        <!-- BEGIN Edit Project Details -->
        <div class="project-details">
          <div class="ui h3">Edit Project Details </div>
          <form action ="/projects/edit" method="POST" class="ui form">
              <div class="field">
                <input type="hidden" name="id" placeholder="Project ID" value="<%= project.id %>">
              </div>
              <div class="field">
                <label>Project Name</label>
                <input type="text" name="projectName" placeholder="Project Name" value="<%= project.name %>">
              </div>
              <div class="field">
                <label>Client Name</label>
                <input type="text" name="clientName" placeholder="Client Name" value="<%= project.clientName %>">
              </div>
            <%- include('../../components/select-status-project',{selectedStatus:project.status}); %>
            <%- include('../../components/select-manager', {managers: managers, selectedManager: project.managedBy.fullName}); %>
            <button class="ui green basic button submitter" type="submit">Save Changes</edit>
          </form>
          <form action="/projects/archive" method="post">
            <input type="hidden" name="id" placeholder="Project ID" value="<%= project.id %>">
            <div class="archive-butt">
              <button  type="submit" class="ui orange basic button archive-butt" >Archive Project</button>
            </div>
          </form>

        </div>
      <!-- END Edit Project Details -->

      <!-- end of content -->
    </div>

  </div>
  <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
