
  <div class="my-container">
    <div class="my-content">
      <div id="date-today">
        Tuesday, 13th October 2018
      </div>

      <div class="heading">
        <%= project.name %> -- project id# <%= project.id %>
      </div>

        <!-- BEGIN Edit Project Details -->
        <div class="project-details">
          <div class="ui h3">Edit Project Details </div>
          <form action ="/projects/edit" method="POST" class="ui form">
              <div class="field">
                <input type="hidden" name="id" placeholder="Project ID" value="<%= project.id %>">
              </div>
              <div class="field">
                <label>Project Name</label>
                <input type="text" name="projectName" placeholder="Project Name" value="<%= project.name %>">
              </div>
              <div class="field">
                <label>Client Name</label>
                <input type="text" name="clientName" placeholder="Client Name" value="<%= project.clientName %>">
              </div>
            <%- include('../../components/select-status-project',{selectedStatus:project.status}); %>
            <%- include('../../components/select-manager', {managers: managers, selectedManager: project.managedBy.fullName}); %>
            <button class="ui green basic button submitter" type="submit">Save Changes</edit>
            <a href=""><button class="ui orange basic button" >Archive Project</button></a>
            <a href=""><button class="ui red basic button" >Delete Project</button></a>
          </form>
        </div>
      <!-- END Edit Project Details -->

      <!-- end of content -->
    </div>

  </div>
  <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
