
  <div class="my-container">
    <div class="my-content">
      <div id="date-today">
        Tuesday, 13th October 2018
      </div>

      <div class="heading">
        Projects
      </div>
      <!-- start of add-new-x component -->
      <div onclick="createProject()"class="add-new-x">
        <div class="add-new-x__text">
          Create a new project~!
        </div>
        <div class="add-new-x__plus-button">
          +
        </div>
      </div>
      <!-- end of add-new-x component -->



        <% if(projects) { %>
            <%  projects.forEach( project => { %>
              <div class="project-container">
                <div class="project__details">
                  <div class="project-title spacer">
                    <%=project.name %>
                  </div>
                   <div class="for spacer italics">
                     for
                   </div>
                  <div class="ui label project-client spacer italics">
                    <%=project.clientName %>
                  </div>
                  <div class="ui label project-status spacer italics">
                    <%=project.status %>
                  </div>
                  <div class="ui label project-manager spacer italics">
                    Managed By   <%=project.managedBy.fullName %>
                  </div>

                  <div class="buttons">

                    <div class="btn-add-dev">
                     <a href="">
                       <button class="ui basic button yellower">
                         Add Developer
                       </button>
                     </a>
                    </div>

                    <div class="btn-add-dev">
                      <a href="">
                        <button class="ui basic button yellower">
                          View Tasks
                        </button>
                      </a>
                    </div>

                    <div class="btn-edit-project">
                      <a href="projects/edit/<%= project.id %>">
                        <button class="ui basic button yellower">
                          Edit Project
                        </button>
                      </a>
                    </div>

                  </div>
                </div>


                <!-- BEGIN table for project employees -->
                <table class="ui selectable sortable table">
                  <thead>
                    <tr>
                      <th>Developer</th>
                      <th>Hours</th>
                      <th>Overtime</th>
                      <th>Contribution</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>John</td>
                      <td>3</td>
                      <td>2</td>
                      <td>5</td>
                    </tr>
                    <tr>
                      <td>Jamie</td>
                      <td>3</td>
                      <td>4</td>
                      <td>5</td>
                    </tr>
                    <tr>
                      <td>Jill</td>
                      <td>6</td>
                      <td>4</td>
                      <td>2</td>
                    </tr>
                  </tbody>
                </table>
                <!-- END table for project emploeeys -->
              </div>
              <!-- END of project container -->
            <%  }) %>
        <% } %>


        <!-- BEGIN Edit Project Details -->
        <div class="project-details">
          <div class="ui h3">Edit Project Details </div>
          <form class="ui form">
              <div class="field">
                <label>Project Name</label>
                <input type="text" name="project-name" placeholder="Project Name">
              </div>
              <div class="field">
                <label>Client Name</label>
                <input type="text" name="client-name" placeholder="Client Name">
              </div>
            <%- include('../../components/select-status-project'); %>
            <%- include('../../components/select-manager', {managers: managers}); %>
            <button class="ui green basic button submitter" type="submit">Save Changes</button>
            <button class="ui orange basic button" >Archive Project</button>
            <button class="ui red basic button" >Delete Project</button>
          </form>
        </div>
      <!-- END Edit Project Details -->


      <div id="create-project"class="ui tiny modal">
        <div class="content">
          <div class="project-details">
            <div class="ui h3">Add New Project </div>
            <form class="ui form" action="/projects/add" method="POST">
                <div class="field">
                  <label>Project Name</label>
                  <input type="text" name="projectName" placeholder="Project Name">
                </div>
                <div class="field">
                  <label>Client Name</label>
                  <input type="text" name="clientName" placeholder="Client Name">
                </div>
              <%- include('../../components/select-status-project'); %>
              <%- include('../../components/select-manager', {managers: managers}); %>
              <button class="ui green basic button submitter" type="submit">Create New Project</button>
            </form>
          </div>
        </div>
      </div>

      <!-- end of task-list -->

      <!-- end of content -->
    </div>

  </div>
  <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
