
  <div class="my-container">
    <div class="my-content">
      <%- include('../../components/todaysDate'); %>
      <div class="heading">
        New Project Created~!
      </div>




        <div class="project-container">
          <div class="project__details">
            <div class="project-title spacer">
              <%= projectName %>
            </div>
             <div class="for spacer italics">
               for
             </div>
            <div class="ui label project-client spacer italics">
              <%= clientName %>
            </div>
            <div class="ui label project-status spacer italics">
              <%= status %>
            </div>
            <div class="ui label project-manager spacer italics">
              Managed By Mr. Holmes
            </div>
            <div class="buttons">
              <div class="btn-add-dev">
                <button class="ui basic button yellower">
                  Add Developer
                </button>
              </div>
              <div class="btn-add-dev">
                <button class="ui basic button yellower">
                  View Tasks
                </button>
              </div>
              <div class="btn-edit-project">
                <button class="ui basic button yellower">
                  Edit Project
                </button>
              </div>
            </div>
          </div>


          <!-- BEGIN table for project employees -->
          <table class="ui selectable sortable table">
            <thead>
              <tr>
                <th>Developer</th>
                <th>Hours</th>
                <th>Overtime</th>
                <th>Contribution</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>John</td>
                <td>3</td>
                <td>2</td>
                <td>5</td>
              </tr>
              <tr>
                <td>Jamie</td>
                <td>3</td>
                <td>4</td>
                <td>5</td>
              </tr>
              <tr>
                <td>Jill</td>
                <td>6</td>
                <td>4</td>
                <td>2</td>
              </tr>
            </tbody>
          </table>
          <!-- END table for project emploeeys -->
        </div>
        <!-- END of project container -->


      <!-- END Add Project -->

      <!-- end of task-list -->

      <!-- end of content -->
    </div>

  </div>
  <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
